{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block meta%}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    {%block extrameta%}
    {% endblock %}
    <title>My Django Project{% block title %}{% endblock %}</title>
    <!-- Include Tailwind CSS via CDN (for quick setup) -->
    {%block corecss%}
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    {% endblock %}
    {% block extra_css %}
    {% endblock %}
    {% block corejs%}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    {% tailwind_css %}
</head>
<body class="bg-black font-sans leading-normal tracking-normal">
    <header>

    </header>
    {% if messages %}
    {% endif %}
    {% block page_header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block post_js %}
    {% endblock %}

</body>
</html>